# R files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Raw files
*.raw

# Mac system files
.DS_Store

# Image files

*.gif
*.jpg
*.mp4
!*workflow.png

# CSV files
*.csv
*.npy
*.db

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
google-cloud-sdk/
google-cloud-sdk

# Credential files
seabirdaidatabase-0a68840d87ff.json
*credential*

# Folders
data/
out/
dump/